.vs
*.bak-mo
.idea
CMakeSettings.json
CSource/cmake-build*

SMArtIInt/Resources/Library/win64/*
!SMArtIInt/Resources/Library/win64/Delay-V1.lib
!SMArtIInt/Resources/Library/win64/SMArtIInt.dll
!SMArtIInt/Resources/Library/win64/tensorflowlite_c.dll


CSource/out/*

_dymWork/*