[submodule "CSource/External/tensorflow"]
	path = CSource/External/tensorflow
	url = https://github.com/tensorflow/tensorflow
[submodule "CSource/External/ClaRaDelay"]
	path = External/ClaRaDelay
	url = https://github.com/xrg-simulation/ClaRaDelay
